/* 安装 gem install compass-normalize  */
@import "normalize","compass/css3","mixin","comm";
body{	
	font-family: "Tahoma","Arial","Microsoft YaHei", "SimHei", "SimSun";	
	min-width:1200px;
}
.header{
	.head1{		
		height: 44px;
		background: #eee;
		line-height: 44px;
		font-size: 12px;
		@extend .fontsong;
		color: #777;
		a{			
			vertical-align: middle;
			display: inline-block;
			padding:0 16px;
			position: relative;
			color: #777;
			/* border-right:#cfcfcf 1px solid; */
			&::before{
				content: "";
				position: absolute;
				width:1px;
				height: 12px;
				background:#cfcfcf;
				left: 0;
				top:16px;
			}
			span.tel{
				color: #758fc8;font-size:14px;
				font-family: Arial;
				font-weight: bold;
			}
		}
		.ico-app{
			vertical-align: text-bottom;
			display: inline-block;
			margin-right: 9px;
			width:9px;
			height: 16px;
			background:url(../images/ico-mobile.png);
		}
		.fl{
			margin-left: 12px;			
		}
		.fr{
			margin-right: 50px;
		}
	}
	.head2{		
		.logo{
			width:540px;
			height: 100px;
			background:url(../images/logo.jpg);
			a{
				@extend .block;
			}
		}
		.nav{
			position:absolute;
			right:0;
			top: 40px;
			height: 100px;
			.navli {
				  display: inline-block;
				  margin-right: 54px;
				  height: 20px;
				  overflow: hidden;	
				  p{
				  	position:relative;
				  	@extend .reset;
				  }			  
				}
				.navli a {
				  color: #333;
				  font-weight: bold;
				  font-size: 16px;
				  height: 20px;
				  line-height: 20px;
				  @extend .block;
				}
				.navli a.a1 {
				  color: #758fc8;
				}
		}

	}
}
.login-main{
	height:581px;
	background:url(../images/banner-login.jpg) top center no-repeat;
	.login-container{
		width:352px;
		padding:0 49px;
		height: 480px;
		position:absolute;
		right:175px;
		top:52px;
		background:rgba(255,255,255,0.8);
		background:#fff\9;		/* ie8 hacker */
		border-radius:5px;
		box-shadow:1px 1px 3px #888,-1px 0px 3px #888;
		h3{
			text-align: center;
			line-height: 90px;
			padding-top: 25px;
			font-size: 30px;
			font-weight: bolder;
			
		}
		.ipt-user,.ipt-pwd{
			width:282px;
			padding-left: 70px;
			height: 56px;			
			line-height: 56px;
			color:#fff;
			
			margin-bottom: 19px;
			box-shadow:2px 3px 3px #888,-1px 0px 3px #888;
		}
		.ipt-user{
			background:url(../images/ico-user.png) 14px 14px no-repeat #40424d; 
		}
		.ipt-pwd{
			background:url(../images/ico-pwd.png) 14px 14px no-repeat #40424d; 
		}
		.ipt-submit{
			width:352px;
			height: 56px;
			
			background:#5c84dd;
			line-height: 56px;
			font-size: 18px;
			color: #fffefe;
			letter-spacing: 5px;
			box-shadow:2px 3px 3px #888,-1px 0px 3px #888;
		}
		.splitline{
			margin-top: 38px;
			color: #777;
			font-size: 16px;
			height: 16px;
			line-height: 16px;
			text-align: center;
			position:relative;
			letter-spacing: 3px;
			font-family: Arial;
			.hr1,.hr2{
				position:absolute;
				display: block;				
				width:142px;
				height: 1px;
				background:#777;
				top:7px;

			}
			.h1{
				left: 0;
			}
			.hr2{
				right:0
			}
			

		}
		.somemore{
			margin-top: 22px;
			font-size:18px;
			color: #393b46;
			a{
				color: #3a438e
			}
		}
	}
}
.footer{
	background:#1c2124;

	.foot{
		overflow:hidden;
		height: 199px;
		color: #999;	
		font-size: 18px;
		a{
			color: #999;
		}
		.subtit{
			padding-top: 46px;
			line-height: 34px;
		}	
		.foot-1of4{
			float:left;
			width:260px;
			margin-left: 89px;
			margin-right: 60px;
			.tel{
				font-size: 26px;
				font-family: Arial;
				color: #6d8bcc;
				line-height: 36px;
			}
			
			.addr,.email{
				line-height: 24px;
				font-size: 14px;
			}
		}
		.foot-2of4{
			float: left;
			width:300px;
			margin-right: 50px;
			.xm a{
				display: inline-block;
				float:left;
				margin-right: 18px;
				line-height: 34px;
				font-size: 16px;
			}
		}
		.foot-3of4{
			float:left;
			width:200px;
			margin-right: 50px;
			.about a{
				display: inline-block;
				float:left;
				margin-right: 18px;
				line-height: 34px;
				font-size: 16px;
			}
		}
		.foot-4of4{
			float:left;
			width:76px;
			padding-top: 56px;
			.gjlogo{
				display: block;
				width:66px;
				height: 40px;
				background:url(../images/gjlogo.png) no-repeat;
				padding-top: 48px;
				line-height: 34px;
				font-size: 16px;
				color: #758fc8;
			}
		}
		
	}
	.copyright{
		height: 70px;
		background:#141719;
		line-height: 70px;
		text-align: center;
		color: #8a8b8d;
		a{
			color: #8a8b8d;
		}
	}
}


.fullSlide{ position:relative; background:#000; margin:0 auto; }
.fullSlide .bd{ position:relative; z-index:0; }
.fullSlide .bd li img{width:100%; vertical-align:top; } 
.fullSlide .hd{position:absolute; z-index:1; right:12%; top:50%; margin-top: -40px; }
.fullSlide .hd ul{   }
.fullSlide .hd ul li{ width:8px; height:8px; margin-bottom: 29px; border:1px #fff solid; transition:all 0.1s ease-in; cursor: pointer; text-indent:-99999px; }
.fullSlide .hd ul .on{ width:16px; height:16px; position:relative;margin-left:-5px; border:2px #fff solid; }

.fullSlide .bd li{
	position:relative;
	.layers{
		position:absolute;
		width:100%;
		height: 100%;
		left: 0;
		top:0;
		.main{
			height: 100%;
			position:relative;
		}
	}
	.mengban{
		position:absolute;
		width:757px;
		height: 220px;
		background:url(../images/mb-banner.png);
		left: 0;
		top:41.52%;
		z-index:1;
		animation-duration: 0.75s;
  		animation-delay: 0.5s;
	}
	a{
		animation-duration: 0.5s;
  		animation-delay: 1.25s;
		display: block;
		position:absolute;
		width:760px;
		height: 222px;
		z-index:2;
		background:url(../images/bd-banner.png);
		left:31px;
		top:41.52%;
		margin-top: 32px;
		.tit{
			font-size: 36px;
			color: #fff;
			line-height: 76px;
			padding-left:25px;		
			animation-duration: 0.3s;
  			animation-delay: 1.75s;	
		}
		.intro{
			font-size: 16px;
			color: #fff;
			line-height: 30px;
			padding: 0 103px 0 15px;
			animation-duration: 0.5s;
  			animation-delay: 2.25s;	
		}
	}
		
}
.i-xm{
	.tabtit{
		width:810px;
		border-bottom:#999 1px solid;
		margin: 0 auto;
		text-align: center;
		line-height: 100px;
		padding-top: 42px;
		a{
			font-size: 18px;
			color:#323433;
			&.on{
				color:#3467dc;
			}
			margin: 0 12px;
		}
	}
	.tabcon{
		ul {
			margin-top: 77px; overflow:hidden;
		}
		li{
			float:left;
			margin: 0 15px;
			text-align: center;
			.pic{
				width:370px;
				height:277px;
				img{
					width:100%;
					height: 100%;
				}
				transition: all 0.3s ease-in;			

			}
			&:hover .pic{
				transform: scale(1.03);
				box-shadow:3px 5px 8px #ccc,-2px 0px 8px #eee;
			}
			.tit{
				font-size: 18px;
				margin-top: 20px;
			}
			.time-views{
				line-height: 34px;
				font-size: 12px;
				color: #999;
				margin-bottom: 35px;
				.time{
					display: inline-block;
					height: 16px;
					background:url(../images/ico-clock.png) no-repeat;
					line-height: 16px;
					padding-left: 19px;
					margin-right: 18px;
				}
				.views{
					display: inline-block;
					height: 16px;
					background:url(../images/ico-eye.png) no-repeat;
					line-height: 16px;
					padding-left: 21px;
				}
			}

		}
	}

}
.index-ad{
	width:100%;
	display:flex;
	font-size:0;/* 修正间距 */
	.ad{
		flex:1;
		width:33.3%;
		overflow:hidden;
		float:left\9;
		img{
			width:100%;
		}
	}
}
.about{
	background:#1c2124;
	height:354px;
	border-bottom:#2c3133 2px solid;
	overflow:hidden;
	.fl{
		margin: 114px 0 0 90px;
		width:498px;
		color: #999;
		.subtit{
			font-size: 24px;
			margin-bottom: 20px;
		}
		.intro{
			font-size: 14px;
			line-height: 24px;
		}
	}
	.fr{
		margin:78px 28px 0 0;

	}
}

.nbanner{
	img{
		width:100%;
		height: auto;
	}
}
.catebox{
	width:1200px;
	position:relative;
	box-sizing:border-box;
	padding:0 16px;
	.searchbox{
		position:absolute;
		right:16px;
		top:65px;
		height: 44px;
		border-bottom:#7e7e7e 1px solid;
		background:url(../images/ico-search.png) right 4px no-repeat;
		input[type=text]{
			line-height: 44px;
			width:186px;
		}
		input[type=submit]{
			text-indent: -99999px;
			width:30px;
			height: 30px;
			background:none;
		}
	}
	.cate1{
		padding:60px 0 31px;
		a{
			display: inline-block;
			line-height: 46px;
			padding:0 14px;	
			font-size: 18px;		
			&.on{
				background:#668cd7;
				color: #fff;
			}
		}
	}
	.box-greybg{
		background:#eee;
		box-sizing:border-box;
		padding:24px 36px;
	}
	.cate2,.cate3{
		a{
			display: inline-block;
			position:relative;			
			color:#626262;
			font-size: 14px;
			margin: 10px 60px 10px 0;
			padding-left: 18px;
			line-height: 14px;
			&:before{
				content: '';
				position:absolute;
				left: 0;
				top: 0px;
				width:10px;
				height: 10px;
				background:#fff;
				border:#b9bdc4 1px solid;
			}
			&.on:before{
				background:#5b89e4;
				border:#5b89e4 1px solid;
			}
		}
	}
	.cate2{
		padding-bottom: 10px;
	}
	.cate3{
		border-top:#b9bdc4 2px solid;
		padding-top: 10px;
	}
}
.pagediv{
	height:40px;
	margin-bottom: 60px;
	position:relative;
	.pages{
		a{
			display: inline-block;
			font-size: 18px;
			line-height: 40px;
			margin-right: 40px;
			float: left;
			color: #1c2124;
			&.on{
				color: #5b89e4;
			}
		}
	}
	.prev,.next{
		line-height: 40px;
		position:absolute;
		font-size: 20px;
		right:105px;
		a{
			color:#1c2124;
			&:hover{
				color: #5b89e4;
			}
		}
		
			
		
	}
	.next{
		right:0px;
	}
}
.curloaction{	
	height:48px;
	line-height:48px;
	background:#eee;
	font-size:16px;
	color:#626262;
	.main{
		box-sizing:border-box;
		padding-left: 16px;
	}
	a{
		color: #626262;
		&.cur{
			color: #668cd8;
		}
	}

}
.fmtbox{
	box-sizing:border-box;
	padding: 46px 15px 27px 15px;
	position:relative;
	.tit{
		h3{
		display: inline-block;
		height: 58px;
		line-height: 58px;
		padding:0 38px;
		font-size: 24px;
		font-weight: normal;
		color: #fff;
		background:#668cd8;
		}
		border-bottom:#668cd8 1px solid;
	}
	.tabtit{
		position:absolute;
		right: 15px;
		top: 51px;
		a{
			display: inline-block;
			line-height: 46px;
			padding:0 22px;
			background:#eee;
			color: #3f403f;
			font-size: 18px;
			&.on{
				color: #668cd8;
			}
		}
	}
	.tabbd{
		margin-top: 28px;
		.tabcon{
			width:1170px;
			height: 790px;
			overflow: hidden;
		}
	}

	.slidebox{
		.bd{
			ul li img{
				max-width: 1170px;
				max-height: 616px;
				float: left;
			}
			height: 616px;
		}
		.hd{
			margin-top: 9px;
			width:1170px;
			height: 121px;
			overflow: hidden;
			position:relative;
			ul{
				position:absolute;
				width:3000px;
				left:0;
			}
			ul li{
			width:229px;
			height: 121px;
			cursor: pointer;
			img{
				width:100%;
				height: 100%;
			}
			display: inline-block;
			float: left;
			margin-right: 6px;
			}
		}
	}
	.someintro{
		width:100%;
		border-top:#999 1px solid;
		border-bottom:#999 1px solid;
		padding:20px 0;
		display: flex;
		flex-wrap:wrap;
		span{
			display: inline-block;
			width: 33%;
			line-height: 30px;
		}
	}
	.content{
		margin-top: 30px;
		line-height: 30px;
	}

}
.tjxm{
	height:570px;
	background:#1c2124 ;
	border-bottom:#2d3234 2px solid;
	.subtit{
		font-size:30px;
		color: #999;
		text-align: center;
		height: 102px;
		padding-top: 60px;
	}
	.xmlist{
		width:1200px;
		margin: 0 auto;
		
		ul {
			position:relative;
			left: 0px;
			margin-top: 0px; overflow:hidden;
		}
		li{
			float:left;
			margin: 0 15px;
			text-align: center;
			.pic{
				width:370px;
				height:277px;
				img{
					width:100%;
					height: 100%;
				}
				/* transition: all 0.3s ease-in;			 */

			}
			&:hover .pic{
				/* transform: scale(1.03);
				box-shadow:3px 5px 8px #ccc,-2px 0px 8px #eee; */
			}
			.tit{
				font-size: 18px;
				margin-top: 20px;
				color: #999;
			}
			.time-views{
				line-height: 34px;
				font-size: 12px;
				color: #999;
				margin-bottom: 35px;
				.time{
					display: inline-block;
					height: 16px;
					background:url(../images/ico-clock.png) no-repeat;
					line-height: 16px;
					padding-left: 19px;
					margin-right: 18px;
				}
				.views{
					display: inline-block;
					height: 16px;
					background:url(../images/ico-eye.png) no-repeat;
					line-height: 16px;
					padding-left: 21px;
				}
			}

		}

	}
}